AVR-IoT_WG_with_BLE/.vs
AVR-IoT_WG_with_BLE/AVR_BLE_Project/debug.log
AVR-IoT_WG_with_BLE/AVR_BLE_Project/Debug.xml
AVR-IoT_WG_with_BLE/AVR_BLE_Project/Release.xml
AVR-IoT_WG_with_BLE/AVR_BLE_Project/.atmel-start-backup
AVR-IoT_WG_with_BLE/AVR_BLE_Project/.vs
AVR-IoT_WG_with_BLE/AVR_BLE_Project/Debug